.s-newsdetail{
  padding: 70px 0;
  @include minMedia(768) {
    padding: 90px 0;
  }
}

.newsdetail-content{
  padding: 0;
  padding-top: 30px;
  .newsdetail-title{
    padding-bottom: 1rem;
  }
  h1{
    font-size: 27px;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
    @include minMedia(768) {
      font-size: 32px;
    }
  }
  p{
    line-height: 1.35;
    font-size: 16px;
    &+p{
      margin-top: 0.5rem;
    }
  }
  .newsinfo.infodetail {
    padding: 0;
    margin-top: 20px;
    p{
      font-size: 16px;
      font-weight: 500;
      line-height: 1.35;
    }
    span {
      display: inline-block;
      padding-left: 0.5rem;
      font-weight: 300;
    }
  }
  .button-back {
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    padding: 14px 38px;
    margin-top: 40px;
    border: 1px solid #FF6A6A;
    color: #FF6A6A;
    background: #FFFFFF;
    transition: all .25s ease;
    &:hover{
      color: #fff;
      background: #FF6A6A;
    }
  }
}