.s-product-views {
  background-color: #F7F7F7;
  padding: 30px 0;
  @include minMedia(768) {
    padding-top: 50px;
    padding-bottom: 30PX;
  }
}

.s-featured-product{
  padding-bottom: 30PX;
  @include minMedia(768) {
    padding-bottom: 70PX;
  }
  .product-item:last-child{
    display: none;
    @include minMedia(992) {
      display: block;
    }
  }
}

.s-product-description {
  background-color: #ffffff;
  padding: 70px 0;
  @include minMedia(768) {
    padding: 90px 0;
  }
  .description-wrap{
    margin-top: -150px;
    padding: 65px 20px;
    border: 1px solid #E2E2E2;
    background-color: #ffffff;
  }
  .head-section{
    position: relative;
    text-align: center;
  }
  .product-chapter{
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    font-style: normal;
    color: #F16D7F;
    text-transform: uppercase;
  }
  .product-heading{
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    font-style: normal;
    color: #5D5D5D;
    margin: 25px 0 0 0;
    text-transform: uppercase;
  }
  .product-text{
    color: #6F6E6E;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    font-style: normal;
    max-width: 555px;
    margin: 0 auto;
    margin-top: 45px;
    text-align: center;
  }
  .product-price{
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    font-style: normal;
    color: #F16D7F;
    margin: 32px 0 0 0;
  }
  .product-divider{
    background-color: #B1B1B1;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    min-height: 1px;
    width: 100%;
    max-width: 600px;
  }
}

.product-menu{
  display: block;
  @include minMedia(768) {
    display: flex;
    justify-content: center;
  }
  .nav-item{
    min-width: 10rem;
  }
  .nav-link{
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    color: #B1B1B1;
    display: block;
    padding: 0.5rem 1rem .5rem 0;
    text-decoration: none;
    transition: color .15s ease-in-out, 
    background-color .15s ease-in-out, 
    border-color .15s ease-in-out;
    @include minMedia(768) {
      padding: 0.5rem 1rem;
    }
    &:hover{
      color: #F16D7F;
    }
  }
}

.dropdown-menu{
  position: absolute;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 0.25rem;
  padding-left: 20px;
  &.show{
    display: block;
    z-index: 100;
  }
  .dropdown-item{
    display: block;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    color: #B1B1B1;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out;
    &.dropdown-item{
      margin-top: 10px;
    }
    &:hover{
      color: #F16D7F;
    }
  }
}

.product-button-wrap{
  padding-top: 40px;
  text-align: center;
  .product-addtocart{
    display: inline-block;
    padding: 12px 45px;
    background-color: #ffffff;
    border: 1px solid #F16D7F;
    color: #F16D7F;
    font-size: 14px;
    transition: all .25s ease;
    &:hover{
      background-color: #F16D7F;
      color: #ffffff;
    }
  }
}