button, .btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: none;
  &--subscribe{
    height: 49px;
    width: 100px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    background: #E05C6E;
    padding: 7px 7px 7px 7px;
    text-transform: capitalize;
    border: 0;
    border-radius: 0 25px 25px 0;
    transition: all .25s ease;
    &:hover{
      color: #E05C6E;
      background: #FFFFFF;
    }
  }
}

